# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.env.*
.platform_selected
.env_selected

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
pubspec.lock
ios/Podfile.lock
macos/Podfile.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Releases
/releases/
macos/Flutter/DartDefine.xcconfig
ios/Flutter/DartDefine.xcconfig

# Android Google Services
android/app/google-services.json
android/app/Firebase/*/google-services*.json

# Apple Google Services
*/Runner/GoogleService-info*.plist
*/Firebase/*/GoogleService-info*.plist

# Web Firebase Configs
web/firebase-config*.js

# Coverage
coverage/lcov.info